<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>

<h2>Photos</h2>
<% @listing.photos.each do |photo| %>
  <%= image_tag photo.image.url %>
<% end %>

<h2>Add a new photo</h2>
<%= form_for @photo do |f| %>
  <%= f.file_field :image %>
  <%= f.hidden_field :photoable_id, value: @listing.id %>
  <%= f.hidden_field :photoable_type, value: @listing.class %>
  <%= f.submit %>
<% end %>
