<p id="notice"><%= notice %></p>

<p>
  <strong>Photoable:</strong>
  <%= link_to @photo.photoable_type, @photo.photoable %>
</p>

<p>
  <strong>Image:</strong>
  <%= @photo.image %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
